.mainArea{
	width: 100vw;
	height: 100vh;
	background: #f2f4f7;
	position: relative;
}

.mainDiv{
	width: calc(100% - 40px);
	height: calc(100% - 70px);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 70px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	background-color: blue;
}



.comments{
	width: 500px;
	height: 100%;
	background-color: green;
	position: fixed;
	right: 20px;
}