.mainArea12{
	width: 100vw;
	height: 100vh;
	background-color: #f2f4f7;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}

.centerDiv12{
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	font-size: 28px;
}

.centerDiv12 > h1{
	margin-left: auto;
	margin-right: auto;
}

.info12{
	color: #596170;
}

.main{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.mainDiv{
	width: 500px;
	height: calc(100vh - 60px);
	position: relative;
	top: 60px;
	align-content: center;

}


@media all and (max-width: 500px){
	.mainDiv{
		width: 100%;
	}
}